In [2]:
import pandas as pd

In [4]:
df = pd.read_csv(r"D:\datasets\kaggle\uber\UberDataset.csv")

df.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,01-01-2016 21:11,01-01-2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,01-02-2016 01:25,01-02-2016 01:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,01-02-2016 20:25,01-02-2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,01-05-2016 17:31,01-05-2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,01-06-2016 14:42,01-06-2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   START_DATE  1156 non-null   object
 1   END_DATE    1155 non-null   object
 2   CATEGORY    1155 non-null   object
 3   START       1155 non-null   object
 4   STOP        1155 non-null   object
 5   MILES       1156 non-null   float64
 6   PURPOSE     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

In [9]:
df['PURPOSE'].isnull().sum()

np.int64(503)

In [10]:
#there is a misisng data in the column PURPOSE
df['PURPOSE'] = df['PURPOSE'].fillna('Missing_val')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   START_DATE  1156 non-null   object
 1   END_DATE    1155 non-null   object
 2   CATEGORY    1155 non-null   object
 3   START       1155 non-null   object
 4   STOP        1155 non-null   object
 5   MILES       1156 non-null   float64
 6   PURPOSE     1156 non-null   object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

In [25]:
df['START_DATE'] = pd.to_datetime(df['START_DATE'] , errors='coerce')
df['END_DATE'] = pd.to_datetime(df['END_DATE'] , errors='coerce')
df.info()
df['DURATION ']  = df['DURATION'].fillna(df['END_DATE'] - df['START_DATE'])
df.info()
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   START_DATE  421 non-null    datetime64[ns]
 1   END_DATE    420 non-null    datetime64[ns]
 2   CATEGORY    1155 non-null   object
 3   START       1155 non-null   object
 4   STOP        1155 non-null   object
 5   MILES       1156 non-null   float64
 6   PURPOSE     1156 non-null   object
 7   DURATION    420 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), object(4), timedelta64[ns](1)
memory usage: 72.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   START_DATE  421 non-null    datetime64[ns]
 1   END_DATE    420 non-null    datetime64[ns]
 2   CATEGORY    1155 non-null   object
 3   START       1155 non-null   object
 4   STOP        1155 non-null   object
 5   MILES       1156 non-null   float64
 6   PURPOSE     1156 non-null   object
 7   DURATION    420 non-null    timedelta64[ns]
 8   DURATION    420 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), object(4), timedelta64[ns](2)
memory usage: 81.4+ KB
Index(['START_DATE', 'END_DATE', 'CATEGORY', 'START', 'STOP', 'MILES',
       'PURPOSE', 'DURATION', 'DURATION '],
      dtype='object')

In [26]:
df.describe()

,START_DATE,END_DATE,MILES,DURATION,DURATION
count,421,420,1156.000000,420,420
mean,2016-07-01 12:31:09.976247040,2016-07-01 12:11:10.142857216,21.115398,0 days 00:19:19.571428571,0 days 00:19:19.571428571
min,2016-01-01 21:11:00,2016-01-01 21:17:00,0.500000,0 days 00:00:00,0 days 00:00:00
25%,2016-04-01 13:43:00,2016-03-27 15:10:00,2.900000,0 days 00:09:00,0 days 00:09:00
50%,2016-07-04 18:23:00,2016-07-04 18:19:00,6.000000,0 days 00:15:00,0 days 00:15:00
75%,2016-10-10 17:22:00,2016-10-10 17:39:15,10.400000,0 days 00:22:15,0 days 00:22:15
max,2016-12-12 20:48:00,2016-12-12 20:57:00,12204.700000,0 days 02:58:00,0 days 02:58:00
std,NaN,NaN,359.299007,0 days 00:19:09.334894164,0 days 00:19:09.334894164

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   START_DATE  421 non-null    datetime64[ns]
 1   END_DATE    420 non-null    datetime64[ns]
 2   CATEGORY    1155 non-null   object
 3   START       1155 non-null   object
 4   STOP        1155 non-null   object
 5   MILES       1156 non-null   float64
 6   PURPOSE     1156 non-null   object
 7   DURATION    420 non-null    timedelta64[ns]
 8   DURATION    420 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), object(4), timedelta64[ns](2)
memory usage: 81.4+ KB

In [28]:
df.isnull().sum()

START_DATE    735
END_DATE      736
CATEGORY        1
START           1
STOP            1
MILES           0
PURPOSE         0
DURATION      736
DURATION      736
dtype: int64

In [48]:
df['START_DATE'].fillna('0')

0       2016-01-01 21:11:00
1       2016-01-02 01:25:00
2       2016-01-02 20:25:00
3       2016-01-05 17:31:00
4       2016-01-06 14:42:00
               ...
1151            Missing_val
1152            Missing_val
1153            Missing_val
1154            Missing_val
1155            Missing_val
Name: START_DATE, Length: 1156, dtype: object

In [50]:
df['END_DATE'].fillna('0')

0       2016-01-01 21:17:00
1       2016-01-02 01:37:00
2       2016-01-02 20:38:00
3       2016-01-05 17:45:00
4       2016-01-06 15:49:00
               ...
1151                      0
1152                      0
1153                      0
1154                      0
1155                      0
Name: END_DATE, Length: 1156, dtype: object

In [45]:
df['START'].fillna('0')

0            Fort Pierce
1            Fort Pierce
2            Fort Pierce
3            Fort Pierce
4            Fort Pierce
              ...
1151             Kar?chi
1152    Unknown Location
1153          Katunayake
1154             Gampaha
1155                   0
Name: START, Length: 1156, dtype: object

In [38]:
df['STOP'].fillna('0')

0            Fort Pierce
1            Fort Pierce
2            Fort Pierce
3            Fort Pierce
4        West Palm Beach
              ...
1151    Unknown Location
1152    Unknown Location
1153             Gampaha
1154           Ilukwatta
1155                  NA
Name: STOP, Length: 1156, dtype: object

In [44]:
df['CATEGORY'].fillna('0')

0       Business
1       Business
2       Business
3       Business
4       Business
          ...
1151    Business
1152    Business
1153    Business
1154    Business
1155           0
Name: CATEGORY, Length: 1156, dtype: object

In [43]:
df['DURATION '].fillna("0")

0      0 days 00:06:00
1      0 days 00:12:00
2      0 days 00:13:00
3      0 days 00:14:00
4      0 days 01:07:00
             ...
1151   0 days 00:00:00
1152   0 days 00:00:00
1153   0 days 00:00:00
1154   0 days 00:00:00
1155   0 days 00:00:00
Name: DURATION , Length: 1156, dtype: timedelta64[ns]

In [41]:
df.isnull().sum()

START_DATE      0
END_DATE      736
CATEGORY        1
START           1
STOP            1
MILES           0
PURPOSE         0
DURATION      736
DURATION      736
dtype: int64

In [42]:
df.to_csv(r'D:\datasets\kaggle\uber\UberDataset_cleaned'r'.csv')

In [51]:
df.isnull().sum()

START_DATE      0
END_DATE      736
CATEGORY        1
START           1
STOP            1
MILES           0
PURPOSE         0
DURATION      736
DURATION      736
dtype: int64

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   START_DATE  1156 non-null   object
 1   END_DATE    420 non-null    datetime64[ns]
 2   CATEGORY    1155 non-null   object
 3   START       1155 non-null   object
 4   STOP        1155 non-null   object
 5   MILES       1156 non-null   float64
 6   PURPOSE     1156 non-null   object
 7   DURATION    420 non-null    timedelta64[ns]
 8   DURATION    420 non-null    timedelta64[ns]
dtypes: datetime64[ns](1), float64(1), object(5), timedelta64[ns](2)
memory usage: 81.4+ KB

In [68]:
df['START_DATE']  = df['START_DATE'].fillna(df['END_DATE'])

In [69]:
df.isnull().sum()

START_DATE    735
END_DATE      735
CATEGORY        1
START           1
STOP            1
MILES           0
PURPOSE         0
DURATION      735
DURATION      736
dtype: int64

In [70]:
df['END_DATE']  = df['END_DATE'].fillna(df['START_DATE'])

In [73]:
df['DURATION']  =  df['DURATION'].fillna(df['END_DATE'] - df['START_DATE'])

In [72]:
df.isnull().sum()

START_DATE    735
END_DATE      735
CATEGORY        1
START           1
STOP            1
MILES           0
PURPOSE         0
DURATION      735
DURATION      736
dtype: int64

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   START_DATE  421 non-null    datetime64[ns]
 1   END_DATE    421 non-null    datetime64[ns]
 2   CATEGORY    1155 non-null   object
 3   START       1155 non-null   object
 4   STOP        1155 non-null   object
 5   MILES       1156 non-null   float64
 6   PURPOSE     1156 non-null   object
 7   DURATION    421 non-null    timedelta64[ns]
 8   DURATION    420 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), object(4), timedelta64[ns](2)
memory usage: 81.4+ KB

In [75]:
df.dtypes

START_DATE     datetime64[ns]
END_DATE       datetime64[ns]
CATEGORY               object
START                  object
STOP                   object
MILES                 float64
PURPOSE                object
DURATION      timedelta64[ns]
DURATION      timedelta64[ns]
dtype: object

In [76]:
# Compute DURATION only for missing values
df['DURATION'] = df['DURATION'].fillna(df['END_DATE'] - df['START_DATE'])

KeyError: 'DURATION'

In [81]:
df.isnull().sum()

START_DATE    735
END_DATE      735
CATEGORY        1
START           1
STOP            1
MILES           0
PURPOSE         0
DURATION        0
DURATION      736
dtype: int64

In [84]:


# Fill missing START_DATE / END_DATE with a fixed date
df['START_DATE'] = df['START_DATE'].fillna(pd.Timestamp('2025-01-01'))
df['END_DATE'] = df['END_DATE'].fillna(pd.Timestamp('2025-01-01') + pd.Timedelta(hours=1))

In [85]:
df.isnull().sum()

START_DATE      0
END_DATE        0
CATEGORY        1
START           1
STOP            1
MILES           0
PURPOSE         0
DURATION        0
DURATION      736
dtype: int64

In [97]:
# Ensure DURATION is timedelta
df['DURATION'] = pd.to_timedelta(df['DURATION'])

# Compute mean of existing durations
mean_duration = df['DURATION'].mean()
print("Mean Duration:", mean_duration)
df['DURATION'] = df['DURATION'].fillna(mean_duration)

Mean Duration: 0 days 00:19:19.571428571

In [98]:
df.isnull().sum()

START_DATE    0
END_DATE      0
CATEGORY      1
START         1
STOP          1
MILES         0
PURPOSE       0
DURATION      0
dtype: int64

In [101]:
df.to_csv(r'D:\datasets\kaggle\uber\trips_cleaned.csv')